
<div id="bg">
        <%= image_tag("backgrounds/original.png") %>
</div>


<div class="signup">
<h1 style="font-family:PokemonC; font-size: 48px;">MONSTER BATTLE</h1>

<h1 style="font-family: PokemonD;">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h3 style="display:inline;"><%= f.label :name %></h3>
    <br>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <br>
  <div class="field">
    <h3 style="display:inline;"><%= f.label :email %></h3>
    <br>
    <%= f.email_field :email, autofocus: false %>
  </div>

  <div class="field">
  <br>
    <h3 style="display:inline;"><%= f.label :password %></h3>
    <br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br>

  <div class="field">
    <h3 style="display:inline;"><%= f.label :password_confirmation %></h3>
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>

  <div class="field">
   <h3 style="display:inline;">Avatar</h3>  <br>
   <% User.avatars.each_with_index do |avatar, i| %>
    <%= f.radio_button :avatar, i %> 
    <img class='avatarselect' src='<%= avatar %>'>
   <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>


</div>