<h1> This is the edit page for the user data </h1>

<%= form_for(@user) do |f| %>
<%#= render 'shared/error_messages' %>


  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: 'form-control' %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  <br>

  <div class="field">
   <h3 style="display:inline;">Avatar</h3>  <br>
   <% User.avatars.each_with_index do |avatar, i| %>
    <%= f.radio_button :avatar, i, :id=>"rb#{i}" %> 
    <img class='trainer-avatar' id='<%= "img#{i}" %>' src='<%= avatar %>'>
   <% end %>
  </div>

  <script>
  <% User.avatars.each_with_index do |img, i| %>
    $('#img<%= i %>').click(function() {
      $("#rb<%= i %>").prop("checked", true)
    });
  <% end %>
  </script>
  <%#= f.label :gender %>
  <%#= f.text_field :gender, required: true, class: 'form-control' %>
  <%#= f.select :gender, %w{Male Female}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %>
  <br>

  <%= f.submit "Save changes" %>
  <% end %>
  


