<%= render partial: 'layouts/menu' %>

<div class="user-info">
<%=link_to("Edit User Profile", edit_user_path(current_user))%>

<h2> Name: <%= current_user.name %></h2>
<br>
<h3> Email: <%= current_user.email %></h3>
<br>
<h3> Gender: <%= current_user.gender %></h3>
<br>
<h3> Played: <%= current_user.played %></h3>
<br>
<h3> Wins: <%= current_user.wins %></h3>
<br>
<% if @user.gender == "Male" %>
<%= image_tag("trainers/boys/Nate.png", class: 'trainer-avatar') %> 
<% else %>
<%= image_tag("trainers/girls/Ace.png", class: 'trainer-avatar') %>
<% end %>
<br>

</div>



