<div id="bg">
  <%= image_tag("backgrounds/gothic.png") %>
</div>
<div class="header">
  <%= render partial: 'layouts/menu' %>
</div>

<div class="user-info">
  <div class="user-screen-left solid">
    <%=link_to("Edit User Profile", edit_user_path(current_user))%>
    <br>
    <h4 class='user_profile_info'> Name: <%= current_user.name %></h4>
    <br>
    <h4 class='user_profile_info'> Email: <%= current_user.email %></h4>
    <br>
    <h4 class='user_profile_info'> Played: <%= current_user.played %></h4>
    <br>
    <h4 class='user_profile_info'> Wins: <%= current_user.wins %></h4>
    <br>
    <img id='useravatarimage' class='trainer-avatar' src="/images/monsters/trainers/Brendan.png">
    <script>var avatar = "<%= User.avatars[current_user.avatar] %>"
    $('#useravatarimage').attr('src', avatar);</script>
  </div>

  <div class="user-screen-center solid">

    <h4 class="user_heading">Players who have challenged you: </h4>

    <table style="margin-left:auto; margin-right:auto;">
      <tr>
        <th><h4 class="user_profile_info">Challenger</h4></th>
        <th><h4 class="user_profile_info">Accept?</h4></th>
      </tr>
      <% @battles.each do |bat| %>
      <tr>
        <td><h4 class="user_profile_info"><%= bat.player1.name unless bat.player1 == nil %></h4></td>
        <td><% if bat.winner_id == nil %>
          <%= link_to('FIGHTU!', select_monsters_battle_path(bat.id)) %>
          <% else %>
          Fin
          <% end %></td>
        </tr>
        <% end %>
      </table>

      <h4 class="user_heading">Players who you've challenged:</h4>

      <table style="margin-left:auto; margin-right:auto;">
        <tr>
          <th><h4 class="user_profile_info">Opponent</h4></th>
          <th><h4 class="user_profile_info">Continue?</h4></th>
        </tr>
        <% @p1_bat.each do |bat| %>
        <tr>
          <td><h4 class="user_profile_info"><%= bat.player1.name unless bat.player1 == nil %></h4></td>
          <td><% if bat.winner_id == nil %>
            <%= link_to('FIGHTU!', select_monsters_battle_path(bat.id)) %>
            <% else %>
            Fin
            <% end %></td>
          </tr>
          <% end %>
        </table>

    </div>

    <div class="challenge">

      <h4 class="user_heading">Challenge
        <%= form_for @battle do |f| %>
        <%= f.hidden_field :player1_id, :value => current_user.id %>
        <div class="styled-select">

          <%= f.collection_select :player2_id, User.where.not(id: current_user.id), :id, :name, :selected => params['player2_id'] %> </div>

          to 

          <%= f.submit 'FIGHTUUUUU!', class: "fight-button" %>
        </h4>
        <% end %>

      </div>



      <div class="user-screen-right solid">

        <table class="leadertable">
          <tr>
            <th><h4 class="user_heading">Name</h4></th>
            <th><h4 class="user_heading">Played</h4></th>
            <th><h4 class="user_heading">Won</h4></th>
            <th><h4 class="user_heading">Points</h4></th>
          </tr>
          <% @users.each_with_index do |user, index| %>
          <% if index <= 14 %>
          <tr>
            <td class='leaderboard'><h4 class="user_profile_info"><span><%= user.name %></h4></span></td>
            <td class='leaderboard'><h4 class="user_profile_info"><span class="lb-number"><%= user.played %></h4></span></td>
            <td class='leaderboard'><h4 class="user_profile_info"><span class="lb-number"><%= user.wins %></h4></span></td>
            <td class='leaderboard'><h4 class="user_profile_info"><span class="lb-number"><%= user.points %></h4></span></td>
          </tr>
          <% end %>
          <% end %>
        </table>

      </div>

      <div class="versus">
        <h1> V</h1>
      </div>

    </div>

<script>
    var lastbattle = <%= current_user.battles_as_p2.last.id %>;
    window.setInterval(function(){
       jsondata = $.get( "<%= current_user.id %>.json", function( data ) {
         console.log((lastbattle == jsondata.responseJSON));
         if (lastbattle != jsondata.responseJSON) {
           window.location.reload(1);
         }
        });



    }, 2000);

</script>

