
<div class="main-container" id="background">

   
         <div class="player1health1" id="player1health1">
         <progress id="health1" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player1health2" id="player1health2">
         <progress id="health2" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player1health3" id="player1health3">
         <progress id="health3" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player1health4" id="player1health4">
         <progress id="health4" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player2health1" id="player2health1">
         <progress id="health5" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player2health2" id="player2health2">
         <progress id="health6" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player2health3" id="player2health3">
         <progress id="health7" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>
         <div class="player2health4" id="player2health4">
         <progress id="health8" value="100" max="100" style="color:green; border: 2px solid black;"></progress>
         </div>


         
   

    

    <div class="player1-name">
        <h2 id="player1-name">Player 1</h2>
    </div>

      <div class="player2-name">
        <h2 id="player2-name">Player 2</h2>
    </div>




    <div class="big-monster big-monster-left1" id="big-1-1">
        <%= image_tag("monsters/charizard/large.png") %>
    </div>
    <div class="big-monster big-monster-left2" id="big-1-2">
        <%= image_tag("monsters/charizard/large.png") %>
    </div>
    <div class="big-monster big-monster-left3" id="big-1-3">
        <%= image_tag("monsters/charizard/large.png") %>
    </div>
    <div class="big-monster big-monster-left4" id="big-1-4">
        <%= image_tag("monsters/charizard/large.png") %>
    </div>

     <div class="big-monster big-monster-right1" id="big-2-1">
      <%= image_tag("monsters/blastoise/large.png") %>
    </div>

     <div class="big-monster big-monster-right2" id="big-2-2">
      <%= image_tag("monsters/blastoise/large.png") %>
    </div>

     <div class="big-monster big-monster-right3" id="big-2-3">
      <%= image_tag("monsters/blastoise/large.png") %>
    </div>

     <div class="big-monster big-monster-right4" id="big-2-4">
      <%= image_tag("monsters/blastoise/large.png") %>
    </div>



    <div class="anim-monster anim-monster-left1" id="monster1-1">
      <%= image_tag("monsters/charizard/back.gif") %>
    </div>
    <div class="anim-monster anim-monster-left2" id="monster1-2">
      <%= image_tag("monsters/tyranitar/back.gif") %>
    </div>
    <div class="anim-monster anim-monster-left3" id="monster1-3">
      <%= image_tag("monsters/lucario/back.gif") %>
    </div>
    <div class="anim-monster anim-monster-left4" id="monster1-4">
      <%= image_tag("monsters/latios/back.gif") %>
    </div>

    <div class="anim-monster anim-monster-right1" id="monster2-1">
      <%= image_tag("monsters/blastoise/front.gif") %>
    </div>
    <div class="anim-monster anim-monster-right2" id="monster2-2">
      <%= image_tag("monsters/zapdos/front.gif") %>
    </div>
    <div class="anim-monster anim-monster-right3" id="monster2-3">
      <%= image_tag("monsters/dragonite/front.gif") %>
    </div>
    <div class="anim-monster anim-monster-right4" id="monster2-4">
      <%= image_tag("monsters/mew/front.gif") %>
    </div>

    <div class="attack" id="attack">
       
    </div>

    <div class="p2-damage" id="p2-damage">
        
    </div>

    <div class="p1-damage" id="p2-damage">
        
    </div>

     <div class="sphere-left sphere-left1">
      <%= image_tag("UI/sphere.png") %>
    </div>
     <div class="sphere-left sphere-left2">
      <%= image_tag("UI/sphere.png") %>
    </div>
     <div class="sphere-left sphere-left3">
      <%= image_tag("UI/sphere.png") %>
    </div>
     <div class="sphere-left sphere-left4">
      <%= image_tag("UI/sphere.png") %>
    </div>

     <div class="sphere-right sphere-right1">
      <%= image_tag("UI/sphere.png") %> 
    </div>
     <div class="sphere-right sphere-right2">
      <%= image_tag("UI/sphere.png") %> 
    </div>
     <div class="sphere-right sphere-right3">
      <%= image_tag("UI/sphere.png") %> 
    </div>
     <div class="sphere-right sphere-right4">
      <%= image_tag("UI/sphere.png") %> 
    </div>

     <div class="screen">
      <%= image_tag("UI/logo2.png", width: '260', height: 'auto') %>

    </div>

    <div class="menu">
    <button id="style" style="position:inline;">Change Venue</button>
    <button id="damage1" style="position:inline;">Damage player 1</button>
    <button id="damage2" style="position:inline;">Damage player 2</button>
    <button id="play-video" style="position:inline;">Play Winner Video</button>
    <br>



<!-- ____________________________________MAIN GAME CONTROLS -->
