


<%= form_for @battle do |f| %>
  <%= f.hidden_field :battle_id, :value => @battle.id %>
  <% @battle.send("#{player}_battle_monsters").each do |b_mon| %>
    <h4 style="display:inline; color:red; font-size: 22px;"><%= b_mon.monster.name %></h4> - 
    <% 4.times do |m| %>
      <%= select_tag("monster_moves[#{b_mon.id}][#{m}]", options_from_collection_for_select(b_mon.monster.moves, :id, :name ) ) %>
      
    <% end %> 
    <br>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
