<%= render partial: 'layouts/menu' %>
<%= render partial: 'graeme_head' %>
<%= render partial: 'set_js' %>
<div class="controller" id="controller">
  <% if @battle.player1_id == current_user.id %>
    <%= render partial: 'battle_moves_listing' , :locals => {:player => 1, :opponent => 2, :counter => 0 }%>
  <% elsif @battle.player2_id == current_user.id %>
    <%= render partial: 'battle_moves_listing' , :locals => {:player => 2, :opponent => 1, :counter => 4 }%>
  <% end %>
</div>
<%= render partial: 'graeme_foot' %>
<%= render partial: 'layouts/menu' %>

