<h2>FIGHT</h2>
<% binding.pry;'' %>

<p>Player 1</p>
<ul>
<% @battle.p1_battle_monsters.each do |monster| %>
<%= form_for @battle do |f| %>
  <li><%= monster.monster.name %> - <%= monster.hp %> 
  <%# binding.pry;'' %>
  <%= select("move", "monster(#{monster.id})", monster.battle_monster_moves.map {|p| [ p.move.name, p.id ] }) %>
  <%= f.submit 'Make move' %></li> <%# binding.pry;'' %> 
<% end %>
<% end %>
</ul>
<p>Player 2</p>
<ul>
<% @battle.p2_battle_monsters.each do |monster| %>
<%= form_for @battle do |f| %>
  <li><%= monster.monster.name %> - <%= monster.hp %> 
  <%# binding.pry;'' %>
  <%= select("move", "monster(#{monster.id})", monster.battle_monster_moves.map {|p| [ p.move.name, p.id ] }) %>
  <%= f.submit 'Make move' %></li> <%# binding.pry;'' %> 
<% end %>
<% end %>
</ul>