
<%= render partial: 'graeme_head' %>

<p><%= "Battle #{@battle.id}" %></p>

<h2>FIGHT</h2>
<%= "Battle #{@battle.id}" %>
<%= "Turn #{@turn}" %>
<% if @turn.to_i == current_user.id %>
YOUR TURN
<% else %>
OPPONENTS TURN
<% end %>
<p>Player 1</p>

<ul>
<% @battle.p1_battle_monsters.each_with_index do |monster, i| %>
<script>var m1health<%= i %> = (parseInt('<%= monster.hp.to_f / (monster.monster.hp).to_f * 100 %>')); </script>


<%= form_for @battle,  url: { action: 'submit_move' }, :method => :POST do |f| %>
  <%= f.hidden_field :player, :value => 1 %>
  <li><%= monster.monster.name %> - <%= monster.hp %> 
    <%= select("move", "monster(#{monster.id})", monster.battle_monster_moves.map {|p| [ "#{p.move.name}, #{p.remaining_uses}", p.id ] }) unless monster.hp < 1 %>
  <%= select("move", "opponent", @battle.p2_battle_monsters.where("hp > 0").map {|m| [ m.monster.name, m.id] }) unless monster.hp < 1 %>
  
  <%= f.submit 'Make move' if monster.hp > 0 && @turn.to_i == current_user.id && @battle.player1_id == current_user.id   %></li>
<% end %>
<% end %>
</ul>
 <p>Player 2</p>
<ul>
<% @battle.p2_battle_monsters.each_with_index do |monster, i| %>
<script>var m2health<%= i %> = (parseInt('<%= monster.hp.to_f / (monster.monster.hp).to_f * 100 %>')); </script>
<%= form_for @battle,  url: { action: 'submit_move' }, :method => :POST do |f| %>
  <%= f.hidden_field :player, :value => 2 %>
  <li><%= monster.monster.name %> - <%= monster.hp %> 
    <%= select("move", "monster(#{monster.id})", monster.battle_monster_moves.map {|p| [ "#{p.move.name}, #{p.remaining_uses}", p.id ] }) unless monster.hp < 1 %>
  <%= select("move", "opponent", @battle.p1_battle_monsters.where("hp > 0").map {|m| [ m.monster.name, m.id] }) unless monster.hp < 1 %>
  
  <%= f.submit 'Make move' if monster.hp > 0 && @turn.to_i == current_user.id && @battle.player2_id == current_user.id %></li>
<% end %>
<% end %>
</ul>
<script type="text/javascript">healthbar_update();</script>



<%= render partial: 'graeme_foot' %>