<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<%= render partial: 'layouts/menu' %>

  <table>
    <tr>
    <th><h3>ID</h3></th>
    <th><h3>Player1</h3></th>
    <th><h3>player2</h3></th>
    <th><h3>Open</h3></th>
    <th><h3>Delete</h3></th>
    <th><h3>Edit</h3></th>
  </tr>
  <% @battles.each do |battle| %>
  <tr>
    <td><%= battle.id %></td>
    <td><%=(battle.player1_id)%></td>
    <td><%=battle.player2_id%></td>
    <td><%= link_to "Open", edit_battle_path(battle) %></td>
  </tr>
  <% end %>
</table>
</body>
</html>