<table>
  <% Monster.all.each do |monster| %>
  <tr>
    <td><%= monster.name %></td>
    <td><img src="/images/monsters/<%=monster.name%>/front.gif"></td>
    <td><img src="/images/monsters/<%=monster.name%>/back.gif"></td>
    <td><img src="/images/monsters/<%=monster.name%>/large.png"></td>
  </tr>
  <% end %>
</table>
<table>
<% User.avatars.each_with_index do |avatar, i| %>
<tr>
  <td><%= i %></td>
  <td><img src="<%=avatar%>"></td>
</tr>
<% end %>
</table>